body{
	background-image: url('../static/bg.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav.flex-column{
	margin-top: 200px;
	margin-left: 20px;
	position: absolute;
	font-family: 'Arial';
}
.nav.flex-column li a.nav-link {
	color: #F5F5DC;
	padding:16px;
	font-size: 18px;
}
.logo img{
	width: 50px;
	height: 50px;
	position: absolute;
	margin-top: 600px;
	margin-left: 20px;
	margin-bottom: 8px;
}
.title h1{
	font-family: 'DM Serif Display';
	color: #F5F5DC;
	margin-top: 50px;
	margin-left: 410px;
}
.row.g-3.align-items-center7{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 35px;
	margin-left: 470px;
}
.row.g-3.align-items-center8{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 20px;
	margin-left: 530px;
}
.row.g-3.align-items-center9{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 20px;
	margin-left: 505px;
}
.row.g-3.align-items-center10{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 20px;
	margin-left: 542px;
}
.row.g-3.align-items-center11{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 20px;
	margin-left: 522px;
}
.row.g-3.align-items-center12{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 20px;
	margin-left: 505px;
}
#inputhousenumber{
	border-radius: 2px;
	border: 2px solid black;
	width: 400px;
}
#inputstreet{
	border-radius: 2px;
	border: 2px solid black;
	width: 400px;
}
#inputbarangay{
	border-radius: 2px;
	border: 2px solid black;
	width: 400px;
}
#inputcity{
	border-radius: 2px;
	border: 2px solid black;
	width: 400px;
}
#inputregion{
	border-radius: 2px;
	border: 2px solid black;
	width: 400px;
}
#inputzip{
	border-radius: 2px;
	border: 2px solid black;
	width: 400px;
}
.btn.btn-primary.mb-3{
	border-radius: 4px;
	border: none;
	position: absolute;
	font-family: 'DM Sans';
	background-color: #F5F5DC;
	margin-top: 20px;
	margin-left: 590px;
	color: black;
}
.btn.btn-primary.mb-3 a{
	text-decoration: none;
	color: black;
}
.btn.btn-primary.mb-31{
	border-radius: 4px;
	border: none;
	position: absolute;
	font-family: 'DM Sans';
	background-color: #F5F5DC;
	margin-top: 20px;
	margin-left: 675px;
}
.btn.btn-primary.mb-31 a{
	text-decoration: none;
	color: black;
}
.btn.btn-primary.mb-32{
	border-radius: 4px;
	border: none;
	position: absolute;
	font-family: 'DM Sans';
	background-color: #F5F5DC;
	margin-top: 20px;
	margin-left: 600px;
	color: black;
}
.btn.btn-primary.mb-32 a{
	text-decoration: none;
	color: black;
}
.btn.btn-primary.mb-33{
	border-radius: 4px;
	border: none;
	position: absolute;
	font-family: 'DM Sans';
	background-color: #F5F5DC;
	margin-top: 20px;
	margin-left: 655px;
	color: black;
}
.btn.btn-primary.mb-33 a{
	text-decoration: none;
	color: black;
.displayhn{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 150px;
	margin-left: 530px;
}
.displayst{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 40px;
	margin-left: 560px;
}
.displaybar{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 40px;
	margin-left: 560px;
}
.displaycity{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 40px;
	margin-left: 495px;
}
.displayreg{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 40px;
	margin-left: 510px;
}
.displayzc{
	font-family: 'Arial';
	color: #F5F5DC;
	margin-top: 40px;
	margin-left: 510px;
}
