body {
    background-image: url('../static/Login_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'DM Sans', 'DM Serif Display';
    color:beige;
}
.card {
    backdrop-filter: blur(2px);
    border-radius: 0px;
    padding: 20px;
    background-color: rgba(6, 1, 1, 0.538); 
    border-color:transparent;
    width: 32rem;
    height: 40rem;
    color: white;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    letter-spacing: 2px; 
    font-size:120%;
}
.card h1{
    font-family:'DM Serif Display'; font-size: 360%; line-height: 0.75;
}
.card span{
    width:120px; font-family:'DM Sans';
}
.card button{
    background-color: #1c1611; border: transparent; font-family: 'DM Sans'; width: 10rem; color:beige;
}
.card a{
    color:#ab8363;
}