<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Adarna Hairpin</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style_product.css') }}" />
	<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=DM+Serif+Display&display=swap" rel="stylesheet">
</head>
<body>
	<div class="back">
		<a href="{{ url_for('index') }}"><img src="../static/back.png" /></a>
	</div>
	<div class="product-image">
		<img src="../static/products/Diamond_Heart.jpg">
	</div>
	<div class="productinfo">
		<h1>Diamond Heart</h1>
		<p>PHP1500.00</p>
	<div class="productinfo1">
		<p>This exquisite piece showcases a brilliant heart-shaped diamond, radiating elegance and sophistication.  </p>
	</div>
	<div class="add-buy">
		<button type="button" id="add"><a href="{{ url_for('shopping_cart') }}">Go to Shopping Cart</a></button>
	</div>
</body>
</html>