@font-face {
    font-family: 'Bayer TypeArchiType Regular';
    src: url('../assets/Bayer\ TypeArchiType\ Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.itemContainer {
    background-color: #f7cdd0;
    background-size: cover;
    border: none;
    overflow: hidden;
}

.fav, .add{
    transform: translateX(500px);
    position: absolute;
    margin-top: 3px;
    border: none;
    background: transparent;
}

.content{
    display: flex;
    gap: 40px;
}

.frame{
    margin-top: -40px;
    margin-left: 60px;
}

.productdescription {
    margin-top: 100px;
    color: #602f32;
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }

  .add{
    background-color: #b84c65;
    margin-left: 80px;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    font-family: 'Bayer TypeArchiType Regular';
    color: white;
  }

  .price{
    margin-left: 20px;
    margin-top: -10px;
  }

  .description{
    margin-left: 80px;
    margin-top: -10px;
  }

  .buttongroup{
    margin-left: -430px;
    display: flex;
  }

  .fav{
    margin-top: -2px;
  }